* {
    box-sizing: border-box;
}

#navbarDiv {
    background-color: #0f1108;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; /*This div contains two divs, one on top of other*/
    width: 100vw; /*Discover how to make this responsive*/
}

#navbarOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

#navbarTwo {
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: space-evenly;
}

#homeButton {
    background-color: transparent;
    border: none;
    /*font-size: 50px;*/                          
}

#homeButtonDiv {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#navSearchDiv {
    flex-grow: 15;
    align-items: center;
    background-color: #7b7b7b;
    height: 25%;
    position: relative;
    display: flex;
    padding: 5px;
    margin-right: 300px;
}

#homeButtonText {
    background-color: transparent;
    font-family: 'Aesthetic Violet', sans-serif;
    color: #c0c0c0; 
    font-size: 4vw;
    padding: 0px 5px;
}

#navSearchDiv input[type=search] {
    background-color: transparent;
    width: 95%;
    height: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #0f1108;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: small;
}

#searchIcon {
    vertical-align: middle;
}

::placeholder {
    color: #4D4D4D;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: small;
}